<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="getWeather('Lille')">Weather for Lille</ion-button>
  <ion-item *ngIf="weatherInfos">
    <ion-label>
      {{weatherInfos['weather'][0]['description']}}
    </ion-label>
    <ion-thumbnail slot="end">
      <ion-img [src]="weatherIcon"></ion-img>
    </ion-thumbnail>
  </ion-item>

  <ion-item *ngIf="!weatherInfos">
    <ion-label>
      Click on the button !
    </ion-label>
    <ion-thumbnail slot="end">
      <ion-img [src]="weatherIcon"></ion-img>
    </ion-thumbnail>
  </ion-item>
  
  <ion-item *ngIf="weatherInfos" >
    {{weatherInfos['main']['temp']}}
  </ion-item>
</ion-content>
